<div class='owlselector'>
<h2>All Objectproperties (60)</h2>

<div class='codebox' id='ID-5725163061034315305'>
<ul>
<li class="asserted"><a href="allowsRating___516335945.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#allowsRating">allowsRating</a></li>
<li class="asserted"><a href="appliesOnDay___723073235.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#appliesOnDay">appliesOnDay</a></li>
<li class="asserted"><a href="appliesOnPeriod___1198012910.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#appliesOnPeriod">appliesOnPeriod</a></li>
<li class="asserted"><a href="features___1533905151.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#features">features</a></li>
<li class="asserted"><a href="hasAddressCity___345474375.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasAddressCity">hasAddressCity</a></li>
<li class="asserted"><a href="hasAdministrativeContact___-716435110.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasAdministrativeContact">hasAdministrativeContact</a></li>
<li class="asserted"><a href="hasArchitecturalStyle___402506672.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasArchitecturalStyle">hasArchitecturalStyle</a></li>
<li class="asserted"><a href="hasAudience___1379683200.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasAudience">hasAudience</a></li>
<li class="asserted"><a href="hasBeenCreatedBy___1787508443.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasBeenCreatedBy">hasBeenCreatedBy</a></li>
<li class="asserted"><a href="hasBeenPublishedBy___449800673.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasBeenPublishedBy">hasBeenPublishedBy</a></li>
<li class="asserted"><a href="hasBookingContact___-1908163709.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasBookingContact">hasBookingContact</a></li>
<li class="asserted"><a href="hasCommunicationContact___-1174951450.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasCommunicationContact">hasCommunicationContact</a></li>
<li class="asserted"><a href="hasContact___513510632.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasContact">hasContact</a></li>
<li class="asserted"><a href="hasCreated___590538672.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasCreated">hasCreated</a></li>
<li class="asserted"><a href="hasDescription___-1279548.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasDescription">hasDescription</a></li>
<li class="asserted"><a href="hasEligibleAudience___-192624521.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasEligibleAudience">hasEligibleAudience</a></li>
<li class="asserted"><a href="hasEligiblePolicy___-864011291.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasEligiblePolicy">hasEligiblePolicy</a></li>
<li class="asserted"><a href="hasFeature___-1417223234.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasFeature">hasFeature</a></li>
<li class="asserted"><a href="hasFloorSize___-973991563.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasFloorSize">hasFloorSize</a></li>
<li class="asserted"><a href="hasHikeAudience___-1153411653.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasHikeAudience">hasHikeAudience</a></li>
<li class="asserted"><a href="hasIncludedFeature___174704994.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasIncludedFeature">hasIncludedFeature</a></li>
<li class="asserted"><a href="hasInformativeContact___-444066944.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasInformativeContact">hasInformativeContact</a></li>
<li class="asserted"><a href="hasLayout___1334592294.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasLayout">hasLayout</a></li>
<li class="asserted"><a href="hasMainRepresentation___543257570.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasMainRepresentation">hasMainRepresentation</a></li>
<li class="asserted"><a href="hasManagementContact___-674456667.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasManagementContact">hasManagementContact</a></li>
<li class="asserted"><a href="hasNeighborhood___-817210486.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasNeighborhood">hasNeighborhood</a></li>
<li class="asserted"><a href="hasOptionalFeature___-1537065410.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasOptionalFeature">hasOptionalFeature</a></li>
<li class="asserted"><a href="hasPart___-1773587857.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasPart">hasPart</a></li>
<li class="asserted"><a href="hasPricingMode___-1013780399.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasPricingMode">hasPricingMode</a></li>
<li class="asserted"><a href="hasPublished___-2109136586.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasPublished">hasPublished</a></li>
<li class="asserted"><a href="hasRepresentation___-1545615671.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasRepresentation">hasRepresentation</a></li>
<li class="asserted"><a href="hasReview___1509965652.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasReview">hasReview</a></li>
<li class="asserted"><a href="hasReviewValue___-1220643135.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasReviewValue">hasReviewValue</a></li>
<li class="asserted"><a href="hasSpatialInterest___1351771926.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasSpatialInterest">hasSpatialInterest</a></li>
<li class="asserted"><a href="hasTheme___1954883601.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#hasTheme">hasTheme</a></li>
<li class="asserted"><a href="isAccessibleBy___-606132807.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isAccessibleBy">isAccessibleBy</a></li>
<li class="asserted"><a href="isAffiliatedTo___-743934818.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isAffiliatedTo">isAffiliatedTo</a></li>
<li class="asserted"><a href="isAnEditionOf___-2085666880.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isAnEditionOf">isAnEditionOf</a></li>
<li class="asserted"><a href="isAPartOf___-478246621.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isAPartOf">isAPartOf</a></li>
<li class="asserted"><a href="isCloseTo___2111321803.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isCloseTo">isCloseTo</a></li>
<li class="asserted"><a href="isCompliantWith___-1142203207.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isCompliantWith">isCompliantWith</a></li>
<li class="asserted"><a href="isConsumableFor___-290196706.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isConsumableFor">isConsumableFor</a></li>
<li class="asserted"><a href="isDedicatedTo___1245481474.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isDedicatedTo">isDedicatedTo</a></li>
<li class="asserted"><a href="isEquippedWith___-1068740783.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isEquippedWith">isEquippedWith</a></li>
<li class="asserted"><a href="isLocatedAt___1805663709.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isLocatedAt">isLocatedAt</a></li>
<li class="asserted"><a href="isOwnedBy___190042644.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isOwnedBy">isOwnedBy</a></li>
<li class="asserted"><a href="isRatingProvidedBy___2070114595.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isRatingProvidedBy">isRatingProvidedBy</a></li>
<li class="asserted"><a href="isReferencedBy___560697276.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#isReferencedBy">isReferencedBy</a></li>
<li class="asserted"><a href="meets___1928337870.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#meets">meets</a></li>
<li class="asserted"><a href="offers___804771417.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#offers">offers</a></li>
<li class="asserted"><a href="topObjectProperty___-102535691.html" class='Object Property' title="http://www.w3.org/2002/07/owl#topObjectProperty">owl:topObjectProperty</a></li>
<li class="asserted"><a href="owns___1827989103.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#owns">owns</a></li>
<li class="asserted"><a href="providesCuisineOfType___-1741149179.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#providesCuisineOfType">providesCuisineOfType</a></li>
<li class="asserted"><a href="providesFoodProduct___1477365281.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#providesFoodProduct">providesFoodProduct</a></li>
<li class="asserted"><a href="amenityFeature___-655853917.html" class='Object Property' title="http://schema.org/amenityFeature">schema:amenityFeature</a></li>
<li class="asserted"><a href="audience___1232481962.html" class='Object Property' title="http://schema.org/audience">schema:audience</a></li>
<li class="asserted"><a href="floorSize___-1455565101.html" class='Object Property' title="http://schema.org/floorSize">schema:floorSize</a></li>
<li class="asserted"><a href="offers___-762939843.html" class='Object Property' title="http://schema.org/offers">schema:offers</a></li>
<li class="asserted"><a href="suggests___-104913359.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#suggests">suggests</a></li>
<li class="asserted"><a href="takesPlaceAt___-578560528.html" class='Object Property' title="http://www.datatourisme.fr/ontology/core/1.0#takesPlaceAt">takesPlaceAt</a></li>
</ul>
</div>

</div><!-- owlselector -->
