<div class='owlselector'>
<h2>All Annotationproperties (8)</h2>

<div class='codebox' id='ID-3775117433503177663'>
<ul>
<li class="asserted"><a href="description___2115014407.html" class='Annotation Property' title="http://purl.org/dc/elements/1.1/description">dc:description</a></li>
<li class="asserted"><a href="language___-2068996509.html" class='Annotation Property' title="http://purl.org/dc/elements/1.1/language">dc:language</a></li>
<li class="asserted"><a href="rights___-1386509086.html" class='Annotation Property' title="http://purl.org/dc/elements/1.1/rights">dc:rights</a></li>
<li class="asserted"><a href="title___-345035421.html" class='Annotation Property' title="http://purl.org/dc/elements/1.1/title">dc:title</a></li>
<li class="asserted"><a href="contributor___285822827.html" class='Annotation Property' title="http://purl.org/dc/terms/contributor">dcterms:contributor</a></li>
<li class="asserted"><a href="creator___-1085313348.html" class='Annotation Property' title="http://purl.org/dc/terms/creator">dcterms:creator</a></li>
<li class="asserted"><a href="comment___1501100887.html" class='Annotation Property' title="http://www.w3.org/2000/01/rdf-schema#comment">rdfs:comment</a></li>
<li class="asserted"><a href="label___653429740.html" class='Annotation Property' title="http://www.w3.org/2000/01/rdf-schema#label">rdfs:label</a></li>
</ul>
</div>

</div><!-- owlselector -->
