<div class='owlselector'>
<h2>All Dataproperties (49)</h2>

<div class='codebox' id='ID-4043689846030900111'>
<ul>
<li class="asserted"><a href="agreementLicense___-1093931111.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#agreementLicense">agreementLicense</a></li>
<li class="asserted"><a href="airConditioning___357639187.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#airConditioning">airConditioning</a></li>
<li class="asserted"><a href="allYouCanEat___1913404040.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#allYouCanEat">allYouCanEat</a></li>
<li class="asserted"><a href="altInsee___-463585881.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#altInsee">altInsee</a></li>
<li class="asserted"><a href="apeNaf___413146079.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#apeNaf">apeNaf</a></li>
<li class="asserted"><a href="availableLanguage___1631604227.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#availableLanguage">availableLanguage</a></li>
<li class="asserted"><a href="bestRating___-1546494621.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#bestRating">bestRating</a></li>
<li class="asserted"><a href="cedex___1919101239.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#cedex">cedex</a></li>
<li class="asserted"><a href="charged___-1731340046.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#charged">charged</a></li>
<li class="asserted"><a href="creationDate___-884871185.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#creationDate">creationDate</a></li>
<li class="asserted"><a href="credits___-1441769124.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#credits">credits</a></li>
<li class="asserted"><a href="date___-452330823.html" class='Data Property' title="http://purl.org/dc/elements/1.1/date">dc:date</a></li>
<li class="asserted"><a href="distance___2113024183.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#distance">distance</a></li>
<li class="asserted"><a href="duration___-167447978.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#duration">duration</a></li>
<li class="asserted"><a href="endDate___216837099.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#endDate">endDate</a></li>
<li class="asserted"><a href="endTime___217321226.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#endTime">endTime</a></li>
<li class="asserted"><a href="guided___589679018.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#guided">guided</a></li>
<li class="asserted"><a href="highDifference___1976627521.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#highDifference">highDifference</a></li>
<li class="asserted"><a href="insee___1924924880.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#insee">insee</a></li>
<li class="asserted"><a href="internetAccess___-1366239033.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#internetAccess">internetAccess</a></li>
<li class="asserted"><a href="lastUpdate___-477523007.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#lastUpdate">lastUpdate</a></li>
<li class="asserted"><a href="lifeguarded___-1806993334.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#lifeguarded">lifeguarded</a></li>
<li class="asserted"><a href="maxAltitude___1598444776.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#maxAltitude">maxAltitude</a></li>
<li class="asserted"><a href="minAltitude___921012182.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#minAltitude">minAltitude</a></li>
<li class="asserted"><a href="noSmoking___331262509.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#noSmoking">noSmoking</a></li>
<li class="asserted"><a href="occupancy___629740815.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#occupancy">occupancy</a></li>
<li class="asserted"><a href="topDataProperty___215468192.html" class='Data Property' title="http://www.w3.org/2002/07/owl#topDataProperty">owl:topDataProperty</a></li>
<li class="asserted"><a href="pending___1141976665.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#pending">pending</a></li>
<li class="asserted"><a href="petsAllowed___-136804202.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#petsAllowed">petsAllowed</a></li>
<li class="asserted"><a href="rcs___1824677156.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#rcs">rcs</a></li>
<li class="asserted"><a href="reducedMobilityAccess___-1481816305.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#reducedMobilityAccess">reducedMobilityAccess</a></li>
<li class="asserted"><a href="requiredMaxPersonCount___1624336631.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#requiredMaxPersonCount">requiredMaxPersonCount</a></li>
<li class="asserted"><a href="requiredMinPersonCount___-2013714615.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#requiredMinPersonCount">requiredMinPersonCount</a></li>
<li class="asserted"><a href="reviewDeliveryDate___-892792324.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#reviewDeliveryDate">reviewDeliveryDate</a></li>
<li class="asserted"><a href="reviewValidityDuration___-821508320.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#reviewValidityDuration">reviewValidityDuration</a></li>
<li class="asserted"><a href="rightsEndDate___-849456620.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#rightsEndDate">rightsEndDate</a></li>
<li class="asserted"><a href="rightsStartDate___1483705307.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#rightsStartDate">rightsStartDate</a></li>
<li class="asserted"><a href="saleOnSite___-1769662033.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#saleOnSite">saleOnSite</a></li>
<li class="asserted"><a href="seatCount___-664259892.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#seatCount">seatCount</a></li>
<li class="asserted"><a href="shortDescription___-519313758.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#shortDescription">shortDescription</a></li>
<li class="asserted"><a href="siret___1934010189.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#siret">siret</a></li>
<li class="asserted"><a href="startDate___-305214478.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#startDate">startDate</a></li>
<li class="asserted"><a href="startTime___-304730351.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#startTime">startTime</a></li>
<li class="asserted"><a href="takeAway___1179292887.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#takeAway">takeAway</a></li>
<li class="asserted"><a href="tourDistance___964634415.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#tourDistance">tourDistance</a></li>
<li class="asserted"><a href="validFromDate___-294751402.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#validFromDate">validFromDate</a></li>
<li class="asserted"><a href="validToDate___96202919.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#validToDate">validToDate</a></li>
<li class="asserted"><a href="weekOfMonth___-206392041.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#weekOfMonth">weekOfMonth</a></li>
<li class="asserted"><a href="worstRating___-917121350.html" class='Data Property' title="http://www.datatourisme.fr/ontology/core/1.0#worstRating">worstRating</a></li>
</ul>
</div>

</div><!-- owlselector -->
